@import 'tailwindcss';


body{
    font-family: 'Zain';
    height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    @apply text-slate-200 bg-linear-to-t from-purple-600 to-40% to-indigo-500
}

@layer base{

    button{
        @apply bg-slate-200 text-slate-600 py-2 px-4 hover:bg-slate-300 transition rounded-full cursor-pointer text-lg;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    p {
        @apply text-lg
    }

    input, textarea {
        @apply border-2 border-slate-200 py-2 px-4 rounded-lg
    }

    input:focus, textarea:focus {
        @apply bg-slate-200/8 outline-none
    }

}